$primaryFont:"Source Sans Pro",Arial,sans-serif;
$lightColor: rgba(#010202,.5);
$mainColor:#010202;
$accentColorOranje:#FEAF2E;
$accentColorLightBlue: #008ECD;
$accentColorDarkBlue: #005886;
$textAccentColor:#007AB3;