@use "reset";
@use "variables" as *;
@use "mixins";

body{
    @include mixins.font(16px);
    width: 100%;
    overflow-x: hidden;
    background-color: #F1F1F1;

    .special{
        color: $accentColorOranje;
    }

    .social{
        position: fixed;
        top: 10px;
        right: 10px;
        font-size: 20px;
        z-index: 1100;

        a{
            display: flex;
            height: 40px;
            width: 40px;
            margin-top: 4px;
            justify-content: center;
            align-items: center;
            background-color: $mainColor;
            border: 1px solid $accentColorOranje;

            &:hover{
                background-color: $accentColorOranje;
                border: 1px solid $mainColor;
            }
        }
    }

    .container{
        max-width: 1400px;
        margin: 0 auto;
    }
    .col2{
        @include mixins.make-col(2,10px);
    }

    header{
        .overlay{
            width: 100vw;
            background-color: $lightColor;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img{
                width: 100vw;
            }

            h1{
                font-size: 6rem;
                line-height: 1.5em;
                margin-bottom:20px;
                background-color: rgba($accentColorOranje,.5);
                border-radius: 20px;
                padding: 2px 5px;
            }
        }
    }

    a {
        display: block;
        color:$accentColorOranje;
        transition: all 500ms;

        &:hover {
            color: $lightColor;
        }
    }

    nav {
        position: sticky;
        z-index: 1000;
        top: 0;
        min-height:74px;
        padding:10px 5px;
        box-shadow:0 3px 10px 0 rgba(50,50,50,0.1);
        background-color: #fff;

        .container{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        a{
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }

        .menu{
            display: none;
            font-size: 35px;
        }

        .logo {
            display: block;
            @include mixins.font(1.8rem, 40px,$accentColorOranje);
            margin:0;
        }

        .list-wrapper{
            ul{
                display: flex;

                a{
                    padding:4px 1vw;
                    line-height: 40px;
                    margin:2px;
                    &:hover{
                        background-color: $accentColorOranje;
                        box-shadow: 5px 5px 10px $accentColorDarkBlue;
                    }
                }
            }
        }
    }

    main{
        section{
            max-width: 1400px;
            width: 90%;
            margin: 0 auto;
            
            article{
                background-color: white;
                padding:15px;
            }
            h2{
                @include mixins.font(3rem,1.5em, $accentColorOranje);
                text-align: center;

            }
            h3{
                @include mixins.font(2rem,1.5em, $accentColorOranje);
            }
            img{
                width: 10vw;
            }
        }

        .parallax{
            max-width: 1400px;
            width: 90%;
            margin: 0 auto;
            min-height: 200px; 

            position: relative;
            opacity: .7;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            &.bgimg1{
                background-image: url('https://static.wixstatic.com/media/d5d042_17088449f2af48d28f2947c7cec5b64b.jpg/v1/fill/w_772,h_140,al_c,q_80,usm_0.66_1.00_0.01/d5d042_17088449f2af48d28f2947c7cec5b64b.webp');
            }
            &.bgimg2{
                background-image: url("https://static.wixstatic.com/media/d5d042_0499dad88bcc4c44a9456836b40077aa.jpg/v1/fill/w_772,h_140,al_c,q_80,usm_0.66_1.00_0.01/d5d042_0499dad88bcc4c44a9456836b40077aa.webp");
            }
        }
    }

    footer{
        min-height:200px;
    }
}

@media screen and (max-width: 1025px){
    body{

        nav{
            .list-wrapper{
                display: block;
                position: absolute;
                top: 80px;
                right:-100vw;
                background-color:$lightColor;
                transition: all 500ms;

                &.open{
                    right: 0;
                }
                
                .links{
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    height: 80vh;
                    width: 100vw;
                    a{
                        width: 50vw;
                        text-align: center;
                    }
                }
            }
            .menu{
                display: block;
            }
        }
        main{
            section{
                &.col{
                    flex-direction: column;
                    *:nth-child(n){
                        width: 100%;
                    }
                }
            }
        }
    }
}